# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 13dd2a9089cbc9eebfcd5bcaed4d162db5fb3d9f83302b843c32bf561b1eaf6d596dcaeb014017f3da8c1b6f79f92e419bfd8059e876f2a112fb487965d80701

test:
  secret_key_base: d9c914f68daec590e5dfcc8e2beee6bd08e7d06cbe8613d2d4942e986c810c32696a801486cf79715acc2d3674c1b78c4510a6b315f3d43f06164ba16a1407ea

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
